.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/

bin/
obj/
out/
.idea/
.DS_Store
Thumbs.db
wwwroot/_framework/
wwwroot/_bin/
wwwroot/*.js.map
wwwroot/*.blat
*.blat
*.nupkg
*.snupkg
.nuget/


*.log

.idea/
*.iws
*.iml
*.ipr
*.swp
*~
